@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply bg-color-secondary px-9 py-3 rounded-md capitalize hover:opacity-80 ease-in duration-300;
}

.btn-card{
    @apply bg-color-primary w-full px-9 py-3 rounded-md capitalize hover:bg-color-secondary ease-in duration-300;
}

.title{
    @apply text-3xl md:text-4xl font-bold leading-snug mb-4;
}

.card{
    @apply border-2 border-color-gray border-solid text-center py-20 px-4 rounded-3xl hover:bg-color-primary-dark ease-in duration-300  cursor-pointer
}

.blob1{
    @apply bg-color-blob w-80 h-80 absolute top-0 -left-5 blur-2xl opacity-30  overflow-hidden rounded-full;
}

.blob2{
    @apply bg-color-secondary w-80 h-80 absolute bottom-10 right-10 blur-2xl  opacity-30 overflow-hidden rounded-full;
}

.user-pic.active-pic{
    @apply border-2 border-orange-700;
}

.user-text{
    display: none;
}

.user-pic{
    transition: all 0.5s ease;
}

.user-text.active-text{
    display: block;
    animation: moveup 1s line forwards;
}

@keyframes moveup {
    0% {
        margin-top: 50px;
        opacity: 0;
    }

    50% {
        margin-top: 40px;
        opacity: 0.1;
    }

    100% {
        margin-top: 0px;
        opacity: 0;
    }

}

.crd {

    perspective: 1000px;

}

.front , .back{

    backface-visibility: hidden;
    transition: all 0.5s ease;
}

.front{
    overflow: hidden;
}
